<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>

        <div class="container">
            <h1>Index</h1>

            <p>From here you can <a href="/login">login</a>, <a href="/register">register</a> or go to the <a href="/home">home page</a></p>
        </div>

    </body>
</html>